aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow==9.5.0
psutil
pytube
pykeyboard
py-tgcalls==1.2.9
ntgcalls==1.1.2
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
urllib3
git+https://github.com/KurimuzonAkuma/pyrogram@dev
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
SafoneAPI
bing-image-urls
gTTS
googlesearch-python
httpx[http2]
pyfiglet
lexica-api
MukeshAPI
nekos.py
telegraph
uuid
git+https://github.com/Vivekkumar-IN/TheApi@main