git+https://github.com/KurimuzonAkuma/pyrogram@dev
aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow==9.5.0
psutil
wget
pytube
pykeyboard
py-tgcalls==1.2.9
ntgcalls==1.1.2
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
urllib3
httpx
git+https://github.com/yt-dlp/yt-dlp@master
youtube-search-python
youtube_search
SafoneAPI
