asyncio
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
heroku3
httpx[http2]==0.27.2
lyricsgenius
motor
psutil
pytube
py-tgcalls==2.0.6
ntgcalls==1.2.3
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
TgCrypto>=1.2.5
urllib3
uvloop
flask
gunicorn
youtube-search-python
yt-dlp
git+https://github.com/KurimuzonAkuma/pyrogram@7d969bc273c09878ad6047d2a193dc339a2cc8e2
git+https://github.com/Vivekkumar-IN/pykeyboard
